{
  "project": "edumong-fe",
  "jira": {
    "url": "https://lemong-hq.atlassian.net",
    "project": "EM",
    "username": "jaeha@lemong.ai"
  },
  "github": {
    "owner": "Lemong23",
    "repo": "edumong-fe"
  },
  "defaultBranch": "develop",
  "prTemplate": {
    "path": ".github/pull_request_template.md"
  }
}